@import "themes/catppuccin/macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
  font-size: 13px;
  color: @text;
}

#pulseaudio, #network, #cpu, #memory, #temperature, #clock, #custom-power, #keyboard-state, #tray {
  padding: 0 8px;
  margin: 0 2px;
}

window#waybar {
  background-color: alpha(@base, 0.9);
  border-bottom: 2px solid alpha(@crust, 0.4);
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: inset 0 -2px transparent;
}

button:hover {
  background-color: shade(@surface0, 1.1);
}

#workspaces button {
  padding: 0 6px;
  color: @overlay1;
}

#workspaces button.active {
  background-color: @overlay1;
  color: @text;
}

#workspaces button.focused {
  background-color: @overlay2;
  color: @text;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#tray,
#keyboard-state,
#custom-media {
  background-color: @surface0;
  color: @text;
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @base;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @surface0;
    color: @text;
  }
}

#network.disconnected {
  background-color: @red;
  color: @base;
}

#pulseaudio.muted {
  background-color: @overlay0;
  color: @subtext0;
}

#tray {
  background-color: @surface0;
  padding: 0 6px;
}

#idle_inhibitor {
  background-color: @overlay1;
  color: @base;
  padding: 0 8px;
}

#scratchpad {
  background-color: @overlay0;
  padding: 0 8px;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
